%h1.m-b-1
  = @publication.title
.m-b-1
  = @publication.content
.m-b-1
  = @publication.signature
.m-b-1
  = render 'shared/tags', obj: @publication
.m-b-1
  = render "publications/#{@publication.type.demodulize.underscore}/show",
           publication: @publication
