!!!
%html
  %head
    %title Inspire
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    %nav.navbar.navbar-full.navbar-dark.bg-primary.p-y-1
      .container
        = link_to 'Poems & Short Stories', root_path, class: 'navbar-brand'
        %ul.nav.navbar-nav.pull-xs-right
          %li.nav-item
            = link_to 'Publications', root_path, class: 'nav-link'
          %li.nav-item
            = link_to 'Authors', authors_path, class: 'nav-link'
          %li.nav-item
            = link_to 'Rules', rules_path, class: 'nav-link'
          %li.nav-item
            .btn-group
              = link_to 'New Poem', new_publication_path(:poem), class: 'btn btn-success'
              = link_to 'New Story', new_publication_path(:short_story), class: 'btn btn-danger'
    .container.p-y-3
      - if flash[:alert] || notice.present?
        .p-b-2
          - if flash[:alert]
            = render 'shared/notification', message: alert, type: 'danger'
          - if notice.present?
            = render 'shared/notification', message: notice, type: 'success'
      = yield
